<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Peso Total Levantado a Cada Mês</title>
    <link rel="stylesheet" href="/public/css/style_total.css">
</head>

<body>
    <h1>Peso Total Levantado a Cada Mês</h1>
    <div class="card-container">
        <div class="child">
            <div class="equip-container">
                    <!-- Loop por todas os registros de pesos de determinado cliente -->
                    <%  %> 
                            <div class="equip-item equip-card">
                                <p><strong>Data:</strong>   </p>
                                <p><strong>Peso:</strong>   </p>
                                <p><strong>Status:</strong></p>  <!--Pago ou não pago -->
                            </div>
                   
                    <%  %>
            </div>
        </div>
    </div>
        
</body>

</html>


