<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Peso Total Levantado a Cada Mês</title>
    <link rel="stylesheet" href="/public/css/style_total.css">
</head>

<body>
    <h1>Peso Total Levantado a Cada Mês</h1>
    <div class="card-container">
        <div class="child">
            <div class="equip-container">
                    <% for (let i = 0; i < totalWeightData.length; i++) { %> 
                            <div class="equip-item equip-card">
                                <p><strong>Ano/Mês:</strong> <%= totalWeightData[i].month_year %></p>
                                <p><strong>Peso Total:</strong> <%= totalWeightData[i].total_peso %> kg</p>
                                <p><strong>Status:</strong></p>  <!-- ToDo: Adicionar a lógica para exibir status -->
                            </div>
                    <% } %>
            </div>
        </div>
    </div>
</body>

</html>
