/* Define a formatação geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: #1a1a1a;
    margin: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

/* Define a formatação do cabeçalho (header) da página */
header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    color: #F8F10D;
    text-align: center;
    margin-left: 50px;
}

/* Estilos para o formulário */
form {
    width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Estilos para o contêiner de cartões */
.card-container {
    display: flex;
    margin-left: 55px;
    justify-content: space-between;
}

.child {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    background-color: #0F0F0F;
}

/* Estilos para os cartões de equipamento */
.equip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equip-card {
    flex-basis: calc(33.33% - 20px);
    width: 400px;
    height: 150px;
    background-color: #0F0F0F;
    color: #F8F10D;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
